body {
  background-color: #dddddd;
  margin: 0px;
  height: 100%;
}

/* SHARED */

a {
  text-decoration: none;
}

/* HEADER */
.header {
  background-color: white;
  height: 20%;
  border-bottom: 1px solid grey;
  margin: 0;
  position: relative;
}

.name {
  width: 20%;
  margin-left: 10%;
  font-family: "Georgia";
  font-size: 30px;
  text-align: center;
  background-color: #4aaaa5;
  color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-color: #cccccc;
  padding: 20px;
  display: inline-block;
}

.links {
  float: right;
  width: 300px;
  height: 50px;
  font-size: 20px;
  color: grey;
  box-align: right;
}

nav li {
  display: inline-block;
  padding: 10px;
}

/* ABOUT */
#profilepic {
  width: 100%;
}
.about {
  margin-left: 10%;
  margin-bottom: 15%;
  background: whitesmoke;
  width: 85%;
  /* height: 53%; */
  height: 100%;
  padding: 5px;
}

h2 {
  font-size: 25px;
  color: #4aaaa5;
  text-align: left;
  margin-bottom: 3px;
  margin-top: 3px;
  text-decoration: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* FOOTER */
.footer {
  padding: 30px 0;
  clear: both;
  position: fixed;
  bottom: 0px;
  font-size: 12px;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 5px solid #4aaaa5;
  height: 5%;
  width: 100%;
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
  .header {
    min-width: 458px;
  }

  .about {
    min-width: 410px;
    font-size: 11px;
  }

  h2 {
    font-size: 20px;
  }
  .name {
    font-size: 15px;
  }
  .links {
    font-size: 12px;
    width: 250px;
  }
  .footer {
    height: 2%;
  }

  #profilepic {
    min-width: 400px;
  }
}
